body {
    font-family: 'Calibri', sans-serif !important;
    color: #525252;
    padding-top: 85px;
}

a {
    text-decoration: none;
    color: black;
}

/*Links to the indexers*/
.scopus, .r-gate, .publons, .orcid {
    margin-right: 0.3rem;
    color: white;
    width: 1.8em;
    height: 1.8em;
    border-radius: 5px;
}

.scopus {
    background-color: #e9711c;
    padding: 5px;
}

.r-gate {
    background-color: white;
    color: black;
    padding: 4px 0;
}

.publons {
    background-color: white;
    padding: 3px;
}

.orcid {
    background-color: white;
    border-radius: 50%;
    border: 0px;
    color: #a6ce39;
}

/*Color style*/
.bg-primary {
    background-color: #9F2D20 !important;
}

.bg-info {
    background-color: #FFCD4B !important;
}

.employee-type-row {
    background: linear-gradient(90deg, rgba(59,57,54,1) 0%, rgba(138,134,127,1) 39%, rgba(230,225,219,1) 100%);
    color: white;
}

.employee-card-footer, .employee-card-header {
    background-color: #889C9B;
}

.employee-card-footer {
    height: 3.5rem;
}

.btn-primary {
  background-color: rgba(255,255,255,.25) !important;
  border-color: rgba(255,255,255,.25) !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: rgba(255,255,255,.85) !important;
  border-color: rgba(255,255,255, .85) !important;
  color: #9F2D20;
}

.btn-secondary{
  background-color: rgba(128,128,128,.70) !important;
  border-color: rgba(128,128,128,.70) !important;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
  background-color: rgba(128,128,128,.95) !important;
  border-color: rgba(128,128,128,.95) !important;
  color: white;
}

/*Containers*/
.container-fluid {
    padding: 0 10%;
}

.lab-name-box{
    display: flex;
    justify-content: flex-end; /*Центрирование по горизонтали*/
    align-items: center;       /*Центрирование по вертикали */
}

.research-card,
.employee-card,
.publication-card,
.method-card,
.employee-type-row,
.materials-box .card {
    box-shadow: 0px 0px 10px #A8ADB4;
}

.materials-box .card {
    height: 100%;
}

.materials-box .card img {
    height: 150px;
}

.name-in-card {
    height: 8rem;
}

.research-box, .history-box, .materials-box {
    font-size: 1.1rem;
    padding: 0 10% !important;
}

.history-box h4{
    font-weight: bolder;
    color: #9F2D20;
}

.research-box .card {
    font-size: 1.2rem !important;
}

.publication-year {
    background: linear-gradient(90deg, rgba(59,57,54,1) 0%, rgba(138,134,127,1) 39%, rgba(230,225,219,1) 100%);
    color: white;
    box-shadow: 2px 2px 5px #A8ADB4;
}

.publication-card:hover {
    transform: scale(1.01);
}

.publication-card-header {
    background-color: #C4DFDF;
    color: dimgray;
    font-size: 1.2rem;
    line-height: 1.1rem;
}

.publication-card-body {
    color: dimgray;
}

.materials-box .card-header {
    background-color: #B2BEBF;
}

.materials-box .card:hover {
    transform: scale(1.01);
}

.numberCircle {
    width: 31px;
    line-height: 31px;
    border-radius: 50%;
    font-weight: bold;
    color: dimgray;
    text-align: center;
    background-color: #C4DFDF;
}

.select-materials-and-energy .energy {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-color: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    --border-color: rgb(218, 221, 224);
    font-family: Verdana, sans-serif;
    border: 1px solid var(--border-color);
    min-height: 2.15rem;
    min-width: 14rem;
    border-radius: .375rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 5px 10px;
}

/*Images*/
#spbu-logo {
    width: 65%;
}

.main-content-image-box {
    overflow: hidden;
    height: 400px;
    margin-bottom: 2rem;
}

.main-content-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 40%;
}

.profile-img-box {
    overflow: hidden;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin: 1.5rem auto;
}

.profile-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.method-img-box {
    overflow: hidden;
}

.method-img-box img{
    width: 150%;
    object-fit: cover;
    object-position: -4rem 0;
}

.research-img-box {
    overflow: hidden;
    padding: 1rem;
}

.research-img-box img {
    width: 100%;
    object-fit: cover;
}

/*Small screen size*/
@media (max-width: 1000px) {
    body {
        /*font-size: 0.8rem;*/
    }

    #spbu-logo {
        display: none;
    }

    .main-content-image-box {
        height: 270px;
        margin-bottom: 1rem;
    }

    .main-content-image-box img {
        width: 100%;
        height: 100%;
    }

    .name-in-card {
        height: 6rem;
    }

    .container-fluid {
        padding: 0 2%;
    }


}
