{% include "header.html" %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<section id="Materials">

    <div class="materials-box">
        <div class="row mt-5 px-4">
            <div class="col-3 select-materials-and-energy">
                <form method="POST" name="calc_form" class="mt-5">
                    {{ opt_const_form.materials.label() }}
                    {{ opt_const_form.materials(id="materials") }}

                    {{ opt_const_form.energy.label(class="mt-2") }}
                    {{ opt_const_form.energy(class="energy") }}

                    {{ opt_const_form.submit(class="mt-4 btn btn-warning") }}
                </form>
            </div>
            <div class="col-9 chart" id="opt_const_graph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('opt_const_graph',graphs,{});
                </script>
            </div>

        </div>
    </div>

</section>

<script>
    new MultiSelectTag('materials', {
    rounded: true,    // default true
    shadow: true,      // default false
    placeholder: 'Search',  // default Search...
    tagColor: {
        textColor: '#327b2c',
        borderColor: '#92e681',
        bgColor: '#eaffe6',
    },
    onChange: function(values) {
        console.log(values)
    }
    })
</script>


{% include "footer.html" %}