<footer class="container-fluid mx-auto mt-5 d-flex justify-content-center">
    <p>© 2024 Лаборатория Ультрамягкой рентгеновской спектроскопии</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
      {# Clicking #login_button after pressing Enter #}
      $('#password').keypress(function(e){
        if(e.keyCode === 13)
        $('#login_button').click();
      });

      $("#signIn").on('hide.bs.modal', function (e) {
          $("#wrongEmail:visible").hide();
          $("#bothFieldsRequired").hide();
          $("#username").val('');
          $("#password:visible").val('');
      });

      {# Link bootstrap modal and /login route #}
      $('#login_button').click(function(){
           var username = $('#username').val();
           var password = $('#password').val();
           var wrongEmail = $('#wrongEmail');
           var bothFieldsRequired = $('#bothFieldsRequired');

           if (wrongEmail.is(':visible')){
               wrongEmail.hide();
           }

           if (bothFieldsRequired.is(':visible')){
               bothFieldsRequired.hide();
           }

           if(username !== '' && password !== '')
           {
                $.ajax({
                     url:"/login",
                     method:"POST",
                     data: {username:username, password:password},
                     success:function(data)
                     {
                          if(data === 'No-data')
                          {
                              wrongEmail.show();
                          }
                          else
                          {
                               $('#signIn').hide();
                               window.location.replace('/admin')
                          }
                     }
                });
           }
           else
           {
                bothFieldsRequired.show();
           }
      });
    });
</script>

</body>

</html>