{% include "header.html" %}

<section id="Methods">
    <div class="history-box">
        <h2 class="text-center mt-5">Развитие методов рентгеновской спектроскопии в Санкт-Петербургском
            государственном университете</h2>
        <br>

        <h4>П.И. Лукирский и А.М. Румш</h4>
        <p>Будущий первый заведующий кафедрой, будущий академик Петр Иванович Лукирский окончил Петербургский
            университет в 1916 г. Первое самостоятельное экспериментальное исследование - дипломная работа,
            выполненная П.И.Лукирским под руководством А.Ф.Иоффе, была посвящена изучению электропроводности
            естественной и облученной рентгеновскими лучами каменной соли. И далее работы в области физики РИ,
            физики взаимодействия РИ с веществом и рентгеновской спектроскопии привлекали внимание Петра Ивановича
            на протяжении всей его творческой жизни.</p>
        <p>В 1925 г. метод "конденсатора Лукирского", разработанный для изучения энергетического распределения
            фотоэлектронов был использован для регистрации мягкого РИ. Впервые удалось измерить энергию
            характеристического излучения углерода, алюминия и цинка. Реализованная в этих работах идея
            использования для анализа энергии РИ фотоэлектронных спектров внутренних уровней атомов мишени-детектора
            была полностью осознана и преподнесена за рубежом как "свежая" только через 50 лет.</p>
        <p>До 1929 г. были опубликованы работы по дисперсии РИ и эффекту Комптона. В 1929 г. П.И.Лукирский организовал
            отдел в Рентгенологическом институте (так назывался тогда ФТИ!), в котором проводились исследования
            дифракции РИ, быстрых и медленных электронов, а также изучение внешнего рентгеновского фотоэффекта.
            Эти исследования проводились и в Университете на кафедре электричества, которую он возглавил в 1934 г.
            Руководить ими было поручено молодому талантливому ученому Михаилу Александровичу Румшу.</p>
        <img class="float-start me-4" src="{{ url_for('static', filename='img/history/rumsh.jpg') }}" alt="Rumsh">
        <p>После войны М.А.Румш вернулся на кафедру в 1945 г. Его усилиями были собраны электронограф и монохроматор РИ
            с кристалл-анализатором. В 1952 г. на кафедре была открыта новая студенческая специализация -
            рентгенофизика. Курсовые и дипломные работы по этой специализации выполнялись на базе созданной М.А.Румшем
            рентгеновской лаборатории. Именно эта лаборатория и явилась прообразом современной лаборатории ультрамягкой
            рентгеновской спектроскопии. Яркая, незаурядная личность М.А.Румша, заразительная работоспособность и
            широчайшая эрудиция, его блестящие лекции быстро сделали рентгенофизику одной из популярнейших специализаций
            на факультете.</p>
        <p>В 1962 г. Михаил Александрович по совокупности работ защитил докторскую диссертацию на тему "Внешний
            рентгеновский фотоэффект". Его работы в этом направлении признаны классическими во всем мире. Они
            предвосхитили появление спектроскопии выхода фотоэффекта и наметили пути развития этой области физики на
            много лет вперед. На Западе часть его исследований была повторена только через 15-20 лет.</p>
        <br>

        <h4>Фотоэффект в условиях динамического рассеяния РИ</h4>
        <p>В конце 50-х годов М.А.Румш предложил проводить измерения выхода внешнего рентгеновского фотоэффекта в
            условиях дифракционного отражения РИ от кристаллов. Угловые зависимости выхода фотоэффекта в условиях
            дифракции падающего РИ кардинальным образом отличаются от таковых вдали от Брэгговских углов и позволяют
            более полно описать процесс дифракционного рассеяния. Высочайшая чувствительность симбиоза методов к
            нарушениям кристаллического порядка в расположении атомов образца сделала его очень эффективным инструментом
            изучения материалов микроэлектроники.</p>
        <p>Долгие годы работы по исследованию рентгеновского фотоэффекта как в условиях динамического рассеяния, так и
            вне их возглавлял ученик М.А.Румша доцент Владислав Николаевич Щемелев. Им была создана теория фотоэффекта
            при дифракции РИ на кристаллах с нарушениями и практически полная полуфеноменологическая теория обычного
            внешнего рентгеновского фотоэффекта в области энергии фотонов от сотни эВ до сотни КэВ. Талантливый, но
            непростой человек, Владислав Николаевич так и не удосужился защитить докторскую диссертацию, хотя в мировом
            научном сообществе давно считался "живым классиком". В.Н.Щемелев умер в 1997 г. К сожалению, после его ухода
            работы в области динамического рассеяния РИ в лаборатории заглохли. Однако усилиями его учеников они
            получили развитие в таких научных центрах, как ФТИ им. А.Ф.Иоффе и Институт кристаллографии РАН. Учеником
            В.Н.Щемелева является и нынешний директор этого института, член-корреспондент РАН М.В.Ковальчук.</p>
        <br>

        <h4>А.П.Лукирский - основатель научной школы ультрамягкой рентгеновской спектроскопии</h4>
        <img class="float-start me-4" src="{{ url_for('static', filename='img/history/lukirsky.jpg') }}" alt="Lukirsky">
        <p>В октябре 1954 г., после успешного окончания аспирантуры, на кафедре начал работать молодой ассистент Андрей
            Петрович Лукирский, сын первого заведующего кафедрой П.И.Лукирского. Научную работу ассистент начал в
            рентгеновской лаборатории кафедры, руководимой М.А.Румшем. Темой научной работы была разработка техники и
            методики проведения спектральных исследований в области мягкого и сверхмягкого РИ. Эта работа, продолжающая
            научные интересы отца, несмотря на сложность и многообразие стоящих проблем, была выполнена всего за
            несколько лет. Залогом успеха стали высочайшие профессиональные и человеческие качества Андрея Петровича,
            созданная им и М.А.Румшем атмосфера творческого поиска, самоотверженности, ясных и уважительных отношений
            в коллективе, его умение привлечь в команду талантливую молодежь.</p>
        <p>Основой выполнения работ стал системный подход к решению возникающих проблем, оптимизация работы всех узлов
            спектральных приборов на основе полученных экспериментальных данных о свойствах веществ и материалов.
            Последовательная отработка конструктивных решений проводилась на основе опыта эксплуатации прототипов узлов.
            проведения экспериментов были созданы детекторы и примитивные универсальные измерительные камеры с плоскими
            дифракционными решетками. В качестве базового принципа построения спектральных приборов была выбрана схема
            Роуланда, использующая сферические решетки и зеркала для фокусировки излучения и позволяющая значительно
            повысить светосилу приборов.</p>
        <p>На предварительном этапе были выполнены следующие серии экспериментов.</p>
        <ol>
            <li>Спектральные зависимости коэффициентов поглощения газов для выбора наиболее эффективного наполнителя
                пропорциональных газоразрядных счетчиков ультрамягкого РИ.</li>
            <li>Спектральные зависимости коэффициентов поглощения полимерных материалов для оптимального выбора
                материала окон счетчиков.</li>
            <li>Спектральные зависимости выхода фотоэффекта для выбора наиболее эффективных фотокатодов
                вторично-электронных умножителей, используемых для регистрации РИ.</li>
            <li>Спектральные зависимости коэффициентов отражения полимерных материалов и металлов для выбора наиболее
                эффективных покрытий зеркал и дифракционных решеток.</li>
            <li>Изучена работа дифракционных решеток в области ультрамягкого РИ с целью выбора оптимальной формы
                штриха.</li>
        </ol>
        <p>Следует отметить, что хотя мотивы исследований имели прикладной характер, их результаты оказались неоспоримо
            ценными для фундаментальной науки. Действительно, практически все измерения представляли собой первые
            систематические исследования в области ультрамягкого РИ. Они легли в основание новых научных направлений в
            рентгеновской спектроскопии, которые успешно развиваются и в настоящее время. А измерения поглощения мягкого
            РИ в инертных газах стало предметом открытия, официально зарегистрированного в 1984 г.</p>
        <p>В исследованиях и испытаниях принимали активное участие М.А.Румш, В.Н.Щемелев, Е.П.Савинов, О.А.Ершов,
            И.А.Брытов, Т.М.Зимкина, В.А.Фомичев, И.И.Жукова (Ляховская). Все конструкторские работы выполнялись
            Андреем Петровичем лично.</p>
        <p>При жизни Андрея Петровича было изготовлено два спектрометра: РСЛ-400, на котором отрабатывалась конструкция
            многих узлов, и РСМ-500. Спектрометр -монохроматор РСМ-500 предназначался для работы в диапазоне энергий
            фотонов от 25 до 3000 эВ. Его конструкция и оптические характеристики оказались настолько удачными, что НПО
            "Буревестник" в течение 20 лет изготавливал спектрометр серийно. По чертежам Андрея Петровича был изготовлен
            спектрометр РСЛ-1500, имеющий уникальные характеристики в спектральной области от 8 до 400 эВ. На рис.3
            показана схема этого спектрометра, демонстрирующая расположение всех основных узлов любого спектрометра
            мягкого РИ.</p>
        <p>РИ, разлагаемое в спектр сферической дифракционной решеткой, фокусируется на окружности Роуланда. Положение
            фокуса на этой окружности определяется длиной волны РИ. На входе коротковолновая (высокоэнергетическая)
            часть РИ, излучаемого образцом (анодом), отсекается отражательными фильтрами и зеркалами, что значительно
            увеличивает отношение полезного сигнала к фону. Платформа с выходной щелью и сменными детекторами движется
            по окружности фокусировки.</p>
        <p>Совершенно по-другому решена кинематическая схема спектрометра- монохроматора РСМ-500, показанная рис.4.</p>
        <img src="{{ url_for('static', filename='img/history/rsl-1500.gif') }}" alt="RSL-1500">
        <img src="{{ url_for('static', filename='img/history/rsm-500.gif') }}" alt="RSM-500">
        <p>Здесь дифракционная решетка и блок выходной щели с детекторами движутся по прямым. Эта схема позволяет легко
            заменять дифракционные решетки для обеспечения максимальной эффективности спектрометра в широкой области
            спектра. На спектрометрах Лукирского достигнуто реальное энергетическое разрешение меньше 0.1 эВ при
            отличном качестве спектров. Этот результат является рекордным и в настоящее время.</p>
        <p>Андрей Петрович ушел из жизни в 1965 г. в возрасте 37 лет, полным новых идей и планов. Практически все
            исследования, выполненные на спектрометрах Лукирского, имели пионерский характер и сейчас оцениваются как
            классические. Большинство из них было выполнено уже после смерти Андрея Петровича его учениками.</p>
        <p>Особого упоминания требует неоценимый вклад А.П.Лукирского в становление спектральных работ с использованием
            синхротронного излучения (СИ). Эти работы начали развиваться в конце 60-х годов и сейчас во многом
            определяют лицо современной науки. В начале 70-х десятки ведущих спектроскопистов мира посетили лабораторию
            ультрамягкой рентгеновской спектроскопии. Идеи и конструкции Андрея Петровича были приняты как базовые для
            создания спектрометров- монохроматоров мягкого рентгеновского СИ. Эти приборы работают сейчас в сотнях
            лабораторий по всему миру.</p>
        <br>

        <h4>Открытие А.П.Лукирского и Т.М.Зимкиной</h4>
        <p>При исследовании поглощения мягкого РИ в Kr и Xe был обнаружен необычный вид спектров поглощения вблизи 3d
            порога ионизации Kr и 4d порога Xe. Привычный скачок поглощения на пороге отсутствовал, а вместо него
            появлялась мощная широкая полоса поглощения, расположенная на много эВ выше порога ионизации указанных
            внутренних уровней. Первая же публикация результатов в 1962 г. привлекла пристальное внимание широчайшей
            научной общественности. Обнаруженные полосы поглощения, по аналогии с ядерной физикой, стали называть
            гигантскими резонансами поглощения. На рис.5 схематично показан вид обычного (ожидаемого) "одноэлектронного"
            спектра поглощения и форма гигантского резонанса.</p>
        <p>Оказалось, что появление гигантских резонансов не объясняется в рамках одноэлектронной теории взаимодействия
            РИ с атомом. В России, Литве, США, Великобритании, Швеции были образованы группы теоретиков, которые в
            остром соперничестве разрабатывали теорию гигантских резонансов. Их усилия, а так же новые экспериментальные
            результаты показали, что это явление носит универсальный характер, определяемый специфическим видом
            эффективного потенциала участвующих в процессе электронов. Это двухдолинный потенциал с барьером, отделяющим
            внутреннюю глубокую потенциальную яму от более мелкой внешней. На рис.6 схематично показан вид такого
            потенциала. Глубокая внутренняя потенциальная яма содержит связанные возбужденные (внутренние) состояния
            атомов. Энергия части возбужденных состояний оказывается выше потенциала ионизации, в области сплошных
            электронных состояний, но потенциальный барьер удерживает их во внутренней области атома на некоторое время.
            Эти состояния называются автоионизационными. Их распад происходит с участием внутренних электронов атомов,
            что увеличивает полное сечение поглощения и приводит к возникновению гигантского резонанса.</p>
        <p>В работах, руководимых Т.М.Зимкиной, гигантские резонансы поглощения были обнаружены в спектрах
            редкоземельных атомов и актинидов. Эти резонансы имеют чисто атомный характер даже в твердом теле. Однако
            двухдолинный вид потенциала может образовываться и при взаимодействии электронов поглощающего атома с
            атомами окружения. В этом случае возникают резонансные явления многоатомной природы.</p>
        <p>В конце 70-х годов немецкими физиками с использованием СИ накопителя DESY в Гамбурге была экспериментально
            доказана многоэлектронная природа явления гигантского резонанса поглощения. С тех пор резонансные явления
            в фотоэмиссии активно исследуются до настоящего времени.</p>
        <p>Обнаруженные в 1962 г. гигантские резонансы поглощения и их дальнейшее детальное экспериментальное изучение
            послужили толчком формирования современных многоэлектронных представлений об атомных процессах. Они
            определили направление развития физики на 40 лет вперед.</p>
        <p>В 1984 г. результаты исследований гигантских резонансов поглощения были зарегистрированы ГК СССР по
            изобретениям и открытиям как открытие.</p>
        <br>

        <h4>Официальное признание достижений школы А.П.Лукирского</h4>
        <p>Работы А.П.Лукирского и его учеников хорошо известны международной научной общественности, их приоритет и
            выдающийся вклад в развитие физики являются общепризнанными. Это неформальное реноме школы, несомненно,
            является наиболее ценным завоеванием. Однако, уже первые научные результаты, полученные благодаря
            методическим разработкам А.П.Лукирского, были высоко оценены коллегами и научной общественностью на
            официальном уровне.</p>
        <p>В 1963 г. Всесоюзная конференция по рентгеновской спектроскопии приняла специальное решение, в котором работы
            группы А.П.Лукирского представлялись как "мощный прорыв в важнейшей области исследований", а область
            ультрамягкой рентгеновской спектроскопии обозначалась как наиболее перспективная область исследований в
            будущем.</p>
        <p>В 1964 г. подобная резолюция, по настоянию одного из самых видных теоретиков мира Уго Фано, была принята
            Международной конференцией по столкновениям атомов и частиц.</p>
        <p>В 1964 г. А.П.Лукирскому была присуждена первая премия ЛГУ за научные исследования.</p>
        <p>В 1967 г. М.А.Румшу и Л.А.Смирнову была присуждена Премия СМ СССР за научно-исследовательскую работу,
            обеспечившую создание первых советских квантометров.</p>
        <p>В 1976 г. Премия Ленинского Комсомола за развитие работ в области ультрамягкой рентгеновской спектроскопии
            была присуждена В.А.Фомичеву.</p>
        <p>В 1984 г. ГК СССР по изобретениям и открытиям зарегистрировал под номером 297 открытие А.П.Лукирского и
            Т.М.Зимкиной "Закономерность взаимодействия ультрамягкого рентгеновского излучения с многоэлектронными
            оболочками атомов" приоритета 1962 г.</p>
        <p>В 1989 г. Т.М.Зимкиной и В.А.Фомичеву присуждена Государственная премия РФ за развитие рентгеноспектральных
            методов исследования химической связи.</p>
        <p>Успешная публичная защита диссертации является не только признанием высокой квалификации соискателя, но и
            свидетельством высокого научного уровня научной школы, воспитавшей соискателя. За годы существования
            лаборатории было защищено 50 кандидатских и 13 докторских диссертаций.</p>
    </div>
</section>

{% include "footer.html" %}