{% include "header.html" %}

    <!--Main content-->
    <section id="Content">
        <div class="container-fluid main-content-image-box">
            <img src="../static/img/index_img.jpg" class="img-fluid" alt="content-img">
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h3>Новости</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Здесь когда-нибудь будут новости</p>
                            <small class="text-muted">Дата публикации</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h3>Конференции</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Здесь когда-нибудь будут конференции</p>
                            <small class="text-muted">Дата проведения</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h3>Что-то еще</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Здесь когда-нибудь что-то будет</p>
                            <small class="text-muted">Дата чего-нибудь</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% include "footer.html" %}