{% include "header.html" %}

    <!--Main content-->
    <section id="Content">

        <!-- Main content images -->
        <div id="carouselMainPage" class="container-fluid carousel slide" data-bs-ride="carousel">

          <div class="carousel-indicators">
              {% for img in index_images %}
                {% if loop.index == 1 %}
                   <button type="button" data-bs-target="#carouselMainPage" data-bs-slide-to="{{ loop.index - 1 }}"
                           class="active" aria-current="true" aria-label="Slide {{ loop.index }}"></button>
                {% else %}
                   <button type="button" data-bs-target="#carouselMainPage" data-bs-slide-to="{{ loop.index - 1 }}"
                           aria-label="Slide {{ loop.index }}"></button>
                {% endif %}

              {% endfor %}
          </div>

          <div class="carousel-inner main-content-image-box">
              {% for img in index_images %}
                {% if loop.index == 1 %}
                   {% set active = ' active' %}
                {% else %}
                   {% set active = '' %}
                {% endif %}

                <div class="carousel-item main-content-image-box{{ active }}" data-bs-interval="5000">
                  <img src="{{ img }}" class="img-fluid main-content-image" alt="{{ img.split('/')[-1] }}">
                </div>

              {% endfor %}
          </div>

        </div>

        <div class="container-fluid">
            <div class="row">

                <!-- Conferences and schools -->
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h3>Конференции и школы</h3>
                        </div>
                        <div class="card-body">
                            {% for conference in data_conferences %}
                                <div class="pb-3">
                                    <a href="{{ conference.url }}">
                                        <p class="card-text lead mb-0">{{ conference.title }}</p>
                                        {% if conference.deadline %}
                                            <small class="text-muted">Регистрация до: {{ conference.deadline.date() }}</small>
                                            <br>
                                        {% endif %}
                                        <small class="text-muted">Дата проведения: {{ conference.dates }}</small>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h3>Новости</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Здесь когда-нибудь будут новости</p>
                            <small class="text-muted">Дата публикации</small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% include "footer.html" %}