{% include "header.html" %}

<section id="Methods" class="container-fluid">

    <h2 class="text-center mt-5">Основные методы исследований</h2>
    <hr class="my-4">

    {#Фотоэлектронная спектроскопия#}
    <div class="row">
        <div class="col-12 gy-2">
            <div class="card p-4">
                <div class="row">
                    <div class="col-4">
                        <div class="method-img-box rounded">
                            <img src="{{ url_for('static', filename='img/methods/xps.jpg') }}" alt="xps">
                        </div>
                    </div>
                    <div class="col-8">
                        <h3 class="mb-3 px-4 py-2 rounded bg-primary text-white">Фотоэлектронная спектроскопия</h3>

                        <p class="px-4 py-2 rounded bg-light">метод изучения строения вещества, основанный на измерении энергетических спектров электронов,
                            вылетающих при фотоэлектронной эмиссии. Метод фотоэлектронной спектроскопии применим к
                            веществу в газообразном, жидком и твёрдом состояниях, и позволяет исследовать как внешние,
                            так и внутренние электронные оболочки атомов и молекул, уровни энергии электронов в твёрдом
                            теле (в частности, распределение электронов в зоне проводимости).</p>

                        <p class="px-4 py-2 rounded bg-light">В фотоэлектронной спектроскопии применяются монохроматическое рентгеновское или
                            ультрафиолетовое излучения с энергией фотонов от десятков тысяч до десятков эВ.
                            Источником света в фотоэлектронных спектрометрах служит излучение рентгеновской трубки,
                            разряда в гелии и синхротронное излучение. Регистрируется распределение электронов по
                            кинетическим энергиям. </p>

                        <p class="px-4 py-2 rounded bg-light">По спектру электронов можно определить энергии связи электронов и их уровни
                            энергии в исследуемом веществе. Спектр фотоэлектронов исследуют при помощи электронных
                            спектрометров высокого разрешения (достигнуто разрешение до десятых долей эВ в рентгеновской
                            области и до сотых долей эВ в ультрафиолетовой области). Для молекул энергии связи
                            электронов во внутренних оболочках образующих их атомов зависят от типа химической связи
                            (химические сдвиги), поэтому фотоэлектронная спектроскопия успешно применяется в
                            аналитической химии для определения состава вещества и в физической химии для исследования
                            химической связи.</p>
                    </div>

                </div>
            </div>
        </div>

        {#Рефлектометрия#}
        <div class="col-12 gy-2">
            <div class="card p-4">
                <div class="row">
                    <div class="col-8">
                        <h3 class="mb-3 px-4 py-2 rounded bg-primary text-white">Рентгеновская рефлектометрия</h3>

                        <p class="px-4 py-2 rounded bg-light">Анализ методом рентгеновской рефлектометрии тонких пленок
                            используется для определения толщины, плотности и шероховатости для одно- и многослойных
                            структур на полупроводниковых пластинах, и может быть выполнен как для кристаллических,
                            так и аморфных материалов. Метод рентгеновской рефлектометрии основан на измерении отражательной
                            способности рентгеновских лучей поверхностью материала вблизи угла полного внешнего
                            отражения (ПВО) θc. Этот угол чрезвычайно мал и называется критическим углом. Угол
                            изменяется в зависимости от электронной плотности материала. Чем выше угол падающего
                            рентгеновского пучка по отношению к критическому углу, тем глубже рентгеновские лучи
                            проникают в материал. Для материалов, поверхность которых можно считать идеально плоской,
                            отражательная способность внезапно уменьшается под углами выше критического угла в
                            пропорции θ-4.</p>

                        <p class="px-4 py-2 rounded bg-light">Если поверхность материала шероховатая, это вызывает более
                            резкое снижение отражательной способности. Если такой материал, используется в качестве подложки,
                            равномерно порытой слоем другого материала, имеющего отличную электронную плотность,
                            то отражения рентгеновских лучей от поверхности раздела между подложкой и тонкой пленкой
                            и от свободной поверхности тонкой пленки будут либо усиливаться либо ослабляться
                            интерферируя друг с другом, образуя осцилляционный рисунок. В первом приближении,
                            интенсивность рассеянная образцом пропорциональна квадрату модуля Фурье преобразования
                            электронной плотности. Таким образом, профиль плотности электронов можно вывести из
                            измеренной интенсивности, а затем могут быть определены вертикальные характеристики
                            (толщины слоев), а также латеральные характеристики (шероховатость и корреляционные
                            свойства на границах пленок), характеризующие многослойные структуры. В частности,
                            толщина пленки может быть определена из периодичности колебаний и информации о поверхности
                            и границах пленок по угловой зависимости амплитуды колебаний.</p>
                    </div>
                    <div class="col-4">
                        <div class="method-img-box rounded">
                            <img src="{{ url_for('static', filename='img/methods/reflectometer.jpg') }}" alt="reflectometry">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#Спектроскопия поглощения#}
        <div class="col-12 gy-2">
            <div class="card p-4">
                <div class="row">
                    <div class="col-4">
                        <div class="method-img-box rounded">
                            <img src="{{ url_for('static', filename='img/methods/reflectometer.jpg') }}" alt="xps">
                        </div>
                    </div>
                    <div class="col-8">
                        <h3 class="mb-3 px-4 py-2 rounded bg-primary text-white">Спектроскопия поглощения</h3>

                        <p class="px-4 py-2 rounded bg-light">Поглощение рентгеновского излучения веществом связано со
                            взаимодействием фотонов с электронами внутренних оболочек атома. В результате такого
                            взаимодействия происходит выбивание электронов из атома, что приводит к резкому возрастанию
                            поглощения рентгеновского излучения (скачку) при превышении энергией фотонов энергии связи
                            электрона с ядром (порога возбуждения). Порог возбуждения является характеристической величиной
                            для каждого химического элемента, что позволяет однозначно определять химический элемент по
                            положению порога возбуждения.</p>

                        <p class="px-4 py-2 rounded bg-light">XAFS, или XAFS-спектроскопия, позволяет получить информацию
                            о природе, количестве и расположении соседних атомов по отношению к исследуемому атому как в первой,
                            так и в более далеких координационных сферах. В связи с этим XAFS-спектроскопия применяется
                            для структурного анализа наряду с дифракционным рентгеноструктурным анализом. При этом она
                            обладает целым рядом дополнительных преимуществ, давая возможность проводить изучение
                            веществ в любом агрегатном состоянии, исследование веществ сложного химического состава,
                            включая случаи, когда концентрация исследуемых атомов мала (например, примеси в сплавах,
                            катализаторы, активные центры в ферментах, анализ загрязнений окружающей среды), а также
                            изучать динамику превращений при химических реакциях и внешних воздействиях. Развитие
                            XAFS-спектроскопии связано с появлением источников синхротронного излучения, без которого
                            ее экспериментальная реализация была бы весьма проблематичной, поскольку XAFS спектры
                            измеряют в интервале энергий рентгеновского излучения 1–100 кэВ.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>

</section>

{% include "footer.html" %}