{% include 'header.html' %}

<section>
    <div class="container-fluid">
        <h2 class="text-center">Публикации</h2>

        {% set count = namespace(value=publications_num) %}
        {% for pub_year in data_publications %}
            <div class="row px-5 mt-5 mb-4">
                <div class="publication-year px-3 py-1">
                        <h3 class="m-0 fw-bold">{{ pub_year }}</h3>
                </div>
            </div>


                {% for publication in data_publications[pub_year] %}
                    <div class="row px-5 mt-3">

                    <!-- TOC image -->
                    <div class="toc-image-box col px-4 d-flex flex-wrap align-items-center d-none d-lg-block">
                        {% if publication.toc_image %}
                            {% set file = publication.toc_image %}
                        {% else %}
                            {% set file = 'placeholder2.jpg' %}
                        {% endif %}
                        <img src="{{ url_for('static', filename='img/publications/{}'.format(file)) }}" alt="{{ file }}" class="img-fluid">
                    </div>

                    <!-- Publication card -->
                    <div class="card publication-card px-0 rounded-0 border-0 col-lg-9">
                        <div class="card-header publication-card-header rounded-0 border-0">
                            <p class="m-0 fw-bold">{{ publication.title }}</p>
                        </div>
                        <div class="card-body publication-card-body bg-light pt-2">
                            <div class="row">
                                <div class="col">
                                    <p class="m-0 fs-6">{{ publication.authors }}</p>
                                    <p class="fst-italic mt-1"><b>{{ publication.journal }}</b>,
                                        {% if publication.volume %}
                                         Volume {{ publication.volume }},
                                        {% endif %}
                                        {% if publication.issue %}
                                         Issue {{ publication.issue }},
                                        {% endif %}
                                        {% if publication.pages %}
                                         pp. {{ publication.pages }}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-1 d-flex align-items-center flex-column mt-auto">
                                    <div class="numberCircle">{{ count.value }}</div>
                                    {% set count.value = count.value - 1 %}
                                </div>
                            </div>
                        </div>
                        <!-- DOI -->
                        <a href="{{ publication.doi }}" class="stretched-link"></a>
                    </div>


            </div>
            {% endfor %}
            {% endfor %}

{#        <div class="row px-5 mt-3">#}
{#            <div class="col">#}
{#                <img src="{{ url_for('static', filename='img/publications/gaisin2024.png') }}" alt="gaisin2024" class="img-fluid">#}
{#            </div>#}
{#            <div class="card publication-card px-0 rounded-0 border-0 col-lg-9">#}
{#                <div class="card-header publication-card-header rounded-0 border-0">#}
{#                    <p class="m-0 fw-bold">Effect of low-temperature oxidation and heat treatment under vacuum on the Al–Be interdiffusion process</p>#}
{#                </div>#}
{#                <div class="card-body bg-light pt-2">#}
{#                    <p class="m-0">A. U. Gaisin, E. O. Filatova</p>#}
{#                    <p class="m-0 fst-italic mt-1">Physical Chemistry Chemical Physics, Volume 26, Issue 2, pp. 780</p>#}
{#                </div>#}
{#                <a href="https://doi.org/10.1039/D3CP04309F" class="stretched-link"></a>#}
{#            </div>#}
{#        </div>#}
    </div>

</section>

{% include 'footer.html' %}