{% include "header.html" %}

<section id="MainResearch">
    <div class="research-box">

        <h2 class="text-center mt-5">Основные объекты научных исследований</h2>
        <hr class="my-4">

        <!--Main research-->
        <div class="row fs-6">

            <div class="col-lg-3 col-md-6 gy-2">
                <div class="card text-center research-card">
                    <div class="research-img-box">
                        <img src="{{ url_for('static', filename='img/research/multilayers.png') }}" alt="Multilayers">
                    </div>
                    <div class="card-footer bg-warning">
                        <p class="card-text">Многослойные наноструктуры</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 gy-2">
                <div class="card text-center research-card">
                    <div class="research-img-box">
                        <img src="{{ url_for('static', filename='img/research/bone.jpg') }}" alt="Bone structure">
                    </div>
                    <div class="card-footer bg-warning">
                        <p class="card-text">Костная ткань</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 gy-2">
                <div class="card text-center research-card">
                    <div class="research-img-box">
                        <img src="{{ url_for('static', filename='img/research/nanomaterial.png') }}" alt="Nanomaterials">
                    </div>
                    <div class="card-footer bg-warning">
                        <p class="card-text">Наноматериалы</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 gy-2">
                <div class="card text-center research-card">
                    <div class="research-img-box">
                        <img src="{{ url_for('static', filename='img/research/coordination_compounds.png') }}" alt="Coordination compounds">
                    </div>
                    <div class="card-footer bg-warning">
                        <p class="card-text">Координационные соединения</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Basic concept-->
        <h2 class="text-center mt-5">Основные понятия</h2>
        <hr class="my-4">

        <h4 class="mb-3">Что такое рентгеновское излучение (РИ)?</h4>

        <p class="lh-base">Рентгеновское излучение (РИ), открытое В.К.Рентгеном в 1895 г. и до сих пор называемое в зарубежной
            литературе Х-лучами, занимает широчайший диапазон энергии фотонов от десятков эВ до сотен тысяч эВ -
            между ультрафиолетовым и гамма-излучением. За достижения в области физики РИ было присуждено 8 (!)
            Нобелевских премий (последняя премия была присуждена в 1981 г.). Эти исследования во многом сформировали
            современные научные и философские представления о мире. Рентгеновское излучение не является продуктом
            естественной радиоактивности вещества, а возникает только в процессах взаимодействий. Именно поэтому РИ
            является универсальным средством изучения свойств материи.</p>

        <img class="float-end" src="{{ url_for('static', filename='img/bremsstrahlung.png') }}" alt="bremsstrahlung"
             style="width: 270px">


        <p>Существует два основных механизма возникновения (генерации) РИ. Первый - торможение заряженных частиц в
            кулоновском поле экранированных ядер атомов среды. Тормозящиеся заряженные частицы, в согласии с законами
            электродинамики, излучают электромагнитные волны перпендикулярно ускорению частиц. Это излучение, называемое т
            ормозным, имеет высокоэнергетическую границу (т.н. коротковолновую границу тормозного излучения), совпадающую с
            энергией налетающих заряженных частиц. Если энергия частиц достаточно велика, то часть очень широкого спектра
            тормозного излучения находится в диапазоне энергии фотонов РИ. На рис.1 (справа) схематически показан процесс
            формирования тормозного излучения при рассеянии электрона на атоме. Направление вылета и энергия фотона
            определяются случайной величиной - прицельным параметром.</p>

        <img class="float-start mb-2" src="{{ url_for('static', filename='img/characteristic-radiation.jpg') }}"
             alt="characteristic radiation" style="width: 330px">

        <p>Вторым механизмом является спонтанный (самопроизвольный) излучательный распад возбужденных состояний атомов
            среды, имеющих вакансию (дырку) на одной из внутренних электронных оболочек. Один из таких переходов
            показан на рис.2 (слева) для атома сорта В. Обычно кулоновская потенциальная яма ядра атома содержит
            множество уровней, и спектр возникающего РИ поэтому является линейчатым. Такое РИ называют
            характеристическим. Поглощение РИ имеет фотоионизационный характер. В поглощении РИ могут принимать
            участие любые электроны вещества, однако наиболее вероятным механизмом поглощения является фотоионизация
            внутренних оболочек атомов. На рис.2 показана диаграмма электронных переходов при поглощении РИ атомом сорта
            А. Видно, что край поглощения формируется в результате переходов электронов внутренней оболочки в низшее
            незаполненное электронное состояние системы (зоны проводимости в твердых телах). В излучательном переходе,
            показанном на рисунке, принимают участие электроны валентной зоны, поэтому в результате формируется не
            линия, а характеристическая полоса РИ.</p>


        <h4 class="mt-5 mb-3">Рентгеновская спектроскопия</h4>

        <p>В 1914 г. было открыто явление дифракции рентгеновских лучей в кристаллах и получена формула, описывающая
            условия дифракции (формула Вульфа-Брэггов):</p>

        <p class="text-center">2dsin α = n λ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(1)</p>

        <p>где d - межплоскостное расстояние отражающих атомных плоскостей кристалла, α - скользящий угол падения РИ на
            отражающие плоскости, λ - длина волны дифрагирующего РИ, n - порядок дифракционного отражения. Именно
            кристаллы стали первыми диспергирующими элементами для разложения РИ в спектр, широко используемыми и в
            настоящее время.</p>

        <p>Вероятность переходов, показанных на рис.1, как и любых других, выражается через интегралы, называемые
        матричными элементами вероятности переходов. Эти интегралы имеют следующую структуру:</p>

        <p class="text-center">( Ψ<sub>i</sub>│W│Ψ<sub>f</sub>)&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(2)</p>

        <p>где Ψ<sub>i</sub> и Ψ<sub>f</sub> - волновые функции начального и конечного состояния системы
            (до и после перехода), W - оператор взаимодействия электромагнитной волны с атомом. Как видно из рис.1, в
            процессе поглощения конечное состояние
            содержит вакансию на внутреннем уровне, а в процесс эмиссии оба состояния, и начальное, и конечное, являются
            возбужденными (дырочными). Это означает, что интеграл (2) отличен от нуля только в той области, где отличны
            от нуля амплитуды наиболее локализованных вблизи ядра состояний с вакансией на внутренней оболочке. Это
            обусловливает пространственно локальный характер рентгеновских переходов и позволяет рассматривать их как
            поглощение или испускание конкретных атомов (см. рис.2).</p>

        <p>Обычно симметрия внутренних уровней атомов классифицируется в рамках водородоподобной модели одноэлектронными
            квантовыми числами. На рис.2 указаны наборы квантовых чисел, характеризующих симметрию уровней атомов А и В,
            участвующих в переходах. Энергия этих уровней полностью характеризует каждый атом, она известна и
            табулирована, также как энергия фотонов характеристических линий, полос и краев поглощения. Поэтому
            рентгеновская спектроскопия является эффективнейшим методом неразрушающего анализа атомного химического
            состава объектов.</p>

        <p>Кроме радиальных частей, волновые функции из (2) содержат и угловые части, выражаемые сферическими функциями.
            Матричный элемент (2) не равен нулю тождественно, если выполняются определенные соотношения между квантовыми
            числами, характеризующими угловые моменты электронов. Для не слишком больших энергий фотонов
            (до нескольких КэВ) наибольшей вероятностью обладают переходы, удовлетворяющие дипольным правилам отбора:
            l<sub>i</sub> - l<sub>f</sub> = ± 1, j<sub>i</sub> - j<sub>f</sub> = 0, ± 1. Чем меньше энергия переходов,
            тем строже выполняются дипольные правила отбора.</p>

        <p>Из рис.2 видно, что спектральная зависимость коэффициента поглощения РИ также как спектральное распределение
            интенсивности в полосах излучения должны отображать энергетическую зависимость распределения плотности
            электронных состояний зоны проводимости и плотности состояний валентной зоны, соответственно. Эта информация
            имеет фундаментальный характер для физики конденсированных сред. То обстоятельство, что процессы поглощения
            и эмиссии РИ имеют локальный характер и подчиняются дипольным правилам отбора, позволяют получать информацию
            о локальных и парциальных (разрешенных по угловым моментам электронов) плотностях состояний зоны
            проводимости и валентной зоны. Такой уникальной информативностью не обладает ни один другой спектральный
            метод.</p>

        <p>Спектральное разрешение в области РИ определяется аппаратурным разрешением и, кроме того, в случае
            характеристических переходов (при поглощении или эмиссии), еще и естественной шириной внутренних уровней,
            принимающих участие в переходах.</p>


    </div>
</section>


{% include "footer.html" %}